/* reset */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* common */

html{
    scroll-behavior: smooth;
    font-family: 'Smooch Sans', sans-serif;
}

/* menu */

.menu{   
    display:inline-block;
    position:fixed;
    top:3%;
    right:1%;
    /* background-color: red; */
    z-index:100;
 }

li a{
    display: inline-block;
    line-height: 20px;
    text-align: center;
    text-decoration:none;
    color:black;
    background-color: white;
    font-weight: bold;
    font-size: .8em;
    border: 1px black solid;
    padding:5px;
    border-radius:50%;
    height:30px;
    width:30px;
}

li{
    float:left;
    list-style: none;
    padding:10px;
} 

/* main */

.shoes-container{
    width:calc(100vw);
    height:calc(100vh);
    background-color: aqua;
}

#scarpa1{
    background-color:red;
    background-image: url(../img/01.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#scarpa2{
    background-color: green;
}

#scarpa3{
    background-color: yellow;
}

.slogan{
    position:absolute;
    bottom:10px;
    left:50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color:yellow;
    font-size: 3em;
    text-align: center;
}

